*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  width: 100vw;

  display: flex;
}

.web-gl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.animate-bg {
  animation: bg 2s ease forwards;
}
.title {
  text-align: center;
}

.title h1 {
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 4rem;
  transform: translateY(-4px);
  margin-top: 30px;
}

.title h2 {
  color: #ffd95a;
  font-family: "Pacifico", sans-serif;
  font-size: 3.5rem;
  margin-top: -10px;
}

.title h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.load-con {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  opacity: 0;
  animation: spinnerShow 1s ease forwards;
}

.spinner {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #ffd95a;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  animation: spinnerLoad 1s ease infinite;
}

.spinnerInside {
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #ffd95a;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);

  animation: spinnerLoadInside 1s ease infinite;
}

.btn-con {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 20px;
  left: 30px;
  font-weight: 500;
  transform: translateX(-140px);
}

.btn {
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  color: #000000;
  background: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
}
.home {
  display: none;
}

.explore {
  background-color: #000000;
  color: #ffd95a;
  font-size: 1.8rem;
}
.animateTitle {
  animation: btnA 2s ease forwards;
}

/*? Menu Btn-S */

.menu-btns {
  position: absolute;

  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
  font-size: 2rem;
  font-weight: 800;
  display: none;

  opacity: 0;
  animation: signUp 1.75s ease forwards 1s;
}

.previous {
  display: none;
}

/*! SIMPLE WEBSITE CREATION  */

.simple-website {
  width: 100%;
  /* height: 100%; */
  position: absolute;

  display: flex;

  align-items: center;
  background-color: #1e1e1e;
  color: #f5f5f5;
  font-size: 2rem;
  padding: 10px 0px 40px 0px;
  flex-direction: column;
}

.fPage {
  width: 90%;
  border: 1px solid #ffd95a;
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  max-width: 900px;
}

.fPage__title {
  text-align: center;
  font-size: 4rem;
  font-family: "Pacifico", sans-serif;

  color: #ffd95a;
  margin-bottom: 20px;
}

.fPage__item {
  display: flex;
  justify-content: space-between;
  font-size: 1.75rem;
  margin: 5px 0px;
}

.fPage__item--price {
  color: #ffd95a;
}

.fresh {
  font-family: "Pacifico", sans-serif;

  color: #ffd95a;
}

.line-br {
  border-top: 1px solid #ffd95a;
  padding-top: 10px;
  align-items: center;
}

.extra__right {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.sPage__title {
  font-size: 2.75rem;
}

.sPage__title span {
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.sPage__desc {
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding: 0px 15px;
}

.sPage__footer {
  border-top: 1px solid #ffd95a;
  text-align: center;
  color: #ffd95a;
  font-family: "Pacifico", sans-serif;

  font-size: 2.75rem;
  padding-top: 10px;
}
.foPage__item {
  margin: 20px 0px;
}
.foPage__footer {
  margin-top: 20px;
  border-top: 1px solid #ffd95a;
  text-align: center;
  padding: 10px;
  font-size: 2.5rem;
  color: #ffd95a;
}

.fiPage__subTitle {
  color: #ffd95a;
  font-family: "Pacifico", sans-serif;

  text-align: center;
  font-size: 2.5rem;
  margin: 10px;
}

.fiPage__milkshakes {
  text-align: center;
  font-size: 1.5rem;
}
.line-br:nth-of-type(1) {
  margin: 20px 0px;
}

.eventTitle {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0px 0px 0px;
}

.eventTitle h2 {
  font-family: "Pacifico", sans-serif;
  color: #ffd95a;
}

.fEvent {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.sEvent {
  display: flex;
  gap: 5px;
  flex-direction: column;
  border-top: 1px solid #ffd95a;
  padding-top: 10px;
  margin-top: 10px;
}

.noEvent {
  text-align: center;
}

/*! SIMPLE WEBSITE CREATION -- END  */

.signUp-con {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  pointer-events: none;
}
.signUp {
  position: absolute;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  bottom: 10px;
  color: #31302d;
  cursor: pointer;
  display: none;
  opacity: 0;
  animation: signUp 1.75s ease forwards 1s;
  margin: 10px 15px;
  pointer-events: all;
}

.signUp_link,
.signUp_link:active {
  text-decoration: none;
  color: #ffd95a;
  background: #1e1e1e;
  padding: 10px 17.5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
}

.simple-SignUp {
  margin: 30px 0px;
}

.light {
  background: #ffd95a;
  color: #1e1e1e;
}

/*! animations / */

@keyframes spinnerShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spinnerLoad {
  0% {
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinnerLoadInside {
  0% {
  }

  100% {
    transform: rotate(-360deg);
  }
}
@keyframes bg {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes btnA {
  0% {
    opacity: 0;
    transform: translateX(-140px);
  }

  35% {
    opacity: 0;
    transform: translateX(-140px);
  }

  60% {
    opacity: 1;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes signUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  35% {
    opacity: 0;
    transform: translateY(100px);
  }

  60% {
    opacity: 1;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 768px) {
  .btn-con {
    left: 15px;
    top: 10px;
  }
  .btn {
    text-align: center;
    font-size: 1.35rem;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 450px) {
  .simple-website {
    flex-direction: column;
  }
  .fPage {
    width: 420px;
  }
}
